<!DOCTYPE html>
<html>
	<head>

		<title>My Site</title>
		<link href="/stylesheets/style.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/javascripts/jquery.hashchange.min.js"></script>
		<script src="/javascripts/jquery.easytabs.js"></script>
		<script src="/javascripts/functions.js"></script>
		<script>
			$(document).ready(function() {
				var gender_strings = {
					'male'             : 'Male',
					'female'           : 'Female'
				}
				var age_strings = {
					'ten'           : '0-10',
					'twenty'        : '11-20',
					'thirty'        : '21-30',
					'forty'         : '31-40',
					'fifty'         : '41-50',
					'other'         : 'Others'
				}
				// Array sum for calculate percentage
				function array_sum(dizi) {
					var sum = 0.0;
					for(s in dizi) {
						sum +=parseInt(dizi[s]);
					}
					return sum;
				}
				// Percentage calculation for highchart
				function percentage(value, total)
				{
					var x = 100 * ( value / total );
					return x.toFixed(2);
				}
				// Main function for chart update
				function ajax_write_function(res) {
					var ydata       = [];
					var xdata       = [];
					var pie_ages    = [];
					var pie_genders = [];

					// Parse response json data and convert javascript array for highchart
					for(i in res.visits.vdates) {
						xdata.push(res.visits.vdates[i]);
					}

					for(i in res.visits.vcounts) {
						ydata.push(res.visits.vcounts[i]);
					}
					// Sums of total genders and ages
					var sum_genders = array_sum(res.distbs.genders);
					var sum_ages = array_sum(res.distbs.ages);
					// For write percentages on higchart legends
					for(s in res.distbs.genders) {
						var perc = percentage(parseInt(res.distbs.genders[s]),sum_genders);
						pie_genders.push([gender_strings[s]+'_'+perc,res.distbs.genders[s]]);
					}
					for(t in res.distbs.ages) {
						var perc = percentage(parseInt(res.distbs.ages[t]),sum_ages);
						pie_ages.push([age_strings[t]+'_'+perc,res.distbs.ages[t]]);
					}
					// Passing variables for update highchart charts
					chart.xAxis[0].setCategories(xdata);
					chart.series[0].setData(ydata );
					piechart1.series[0].setData(pie_genders);
					piechart2.series[0].setData(pie_ages);
				}

				$('#tab-container').easytabs();
				$.ajaxSetup({
					error: function(jqXHR, exception) {
						if (jqXHR.status === 0) {
							alert('Not connect.\n Verify Network.');
						} else if (jqXHR.status == 404) {
							alert('Requested page not found. [404]');
						} else if (jqXHR.status == 500) {
							alert('Internal Server Error [500].');
						} else if (exception === 'parsererror') {
							alert('Requested JSON parse failed.');
						} else if (exception === 'timeout') {
							alert('Time out error.');
						} else if (exception === 'abort') {
							alert('Ajax request aborted.');
						} else {
							alert('Uncaught Error.\n' + jqXHR.responseText);
						}
					}
				});
				// Pie Chart for distribution of genders
				var piechart1 = new Highcharts.Chart({
					chart                   : {
						width               : 450,
						height              : 400,
						renderTo            : pie1container,
						plotBackgroundColor : null,
						plotBorderWidth     : null,
						plotShadow          : false
					},
					title: {
						text: 'By Gender'
					},
					legend: {
						enabled        : true,
						layout         : 'vertical',
						useHTML        : true,
						labelFormatter : function() {
							return '<div style="width:200px"><span style="float:left">' + this.name.split('_')[0] + '<\/span><span style="float:right">' +this.name.split('_')[1] +'% (' + this.y + 'person)<\/span><\/div>';
						}
					},
					tooltip: {
						formatter			: function() {
							return '<b>'+ this.point.name.split('_')[0] +'<\/b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
						},
						percentageDecimals	: 1
					},
					plotOptions: {
						pie: {
							allowPointSelect : true,
							cursor           : 'pointer',
							dataLabels       : {
								enabled      : false
							},
							showInLegend     : true
						}
					},
					series: [{
						type : 'pie',
						name : 'Genders',
						data : []
					}]
				});


				// Pie chart for distribution of ages.
				var piechart2 = new Highcharts.Chart({
					chart: {
						width               : 450,
						height              : 400,
						renderTo            : pie2container,
						plotBackgroundColor : null,
						plotBorderWidth     : null,
						plotShadow          : false
					},
					title: {
						text: 'By Ages'
					},
					legend: {
						enabled        : true,
						layout         : 'vertical',
						useHTML        : true,
						labelFormatter : function() {
							return '<div style="width : 200px"><span style="float : left">' + this.name.split('_')[0] + ' ages<\/span><span style="float : right">' + this.name.split('_')[1] +'% (' + this.y + 'person)<\/span><\/div>';
						}
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name.split('_')[0] +'<\/b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
						},
						percentageDecimals: 1
					},
					plotOptions: {
						pie: {
							cumulative       : -0.25,
							allowPointSelect : true,
							cursor           : 'pointer',
							dataLabels       : {
								enabled      : false
							},
							showInLegend     : true
						}
					},
					series: [{
						type : 'pie',
						data : []
					}]
				});

				// Line chart for visitors
				var chart = new Highcharts.Chart({
					chart: {
						width:1300,
						renderTo: 'container'
					},
					credits: {
						enabled: false
					},
					legend: {
						enabled: false
					},
					xAxis: {
						offset        : 15,
						categories    : ['Foo', 'Bar', 'Foobar'],
						gridLineWidth : 2,
						labels        : {
							formatter: function() {
								if (typeof this.value == 'string' || this.value instanceof String) {
									var veriler = this.value.split('.');
									return '<span style="font-size:10px;font-weight:bold">'+veriler[0]+'<\/span><br><br><span 
									style="fill:red;font-size:19px">'+veriler[1]+'<\/span>';
								}
							}
						},
					},
					series: [{
						data: [29.9, 71.5, 106.4]
					}]
				})

				// Response from server
				var dates=dsa;

				// Put dates array inside select element
				$.each(dates, function(key, value) {
					$('#dates').append($("<option><\/option>").attr("value",value).text(dates[key][0]+"~"+dates[key][dates[key].length-1]));
				});

				// Parsing
				selected_date=$('#dates').val();
				selected_date=selected_date.split(',');
				selected_date=selected_date.join('_');

				// Ajax function
				$.ajax({
					type    : 'GET',
					data    : 'tarih='+selected_date,
					url     : 'http                   : //ec2-50-16-55-172.compute-1.amazonaws.com : 2222/logget',
					success : function(res) {
						ajax_write_function(res);
					}
				});


				$('#dates').click(function(e){
					e.preventDefault();
					tarih=$(this).val();
					tarih=tarih.split(',');
					tarih=tarih.join('_');
					$.ajax({
						type:'GET',
						data:'tarih='+tarih,
						url: 'http://ec2-50-16-55-172.compute-1.amazonaws.com:2222/logget',
						success: function(res) {
							ajax_write_function(res);
						}
					});
				});   
			});
		</script>
	</head>


	<body>
		<script src="http://code.highcharts.com/highcharts.js"></script><script src="http://code.highcharts.com/modules/exporting.js"></script>

		<div style=	"overflow:auto;margin-left:100px;margin-top:40px;margin-right:auto">
			<table border="1">
				<tr>
					<td>Event</td>

					<td>Very Fun Event</td>
				</tr>

				<tr>
					<td>Event Periods</td>

					<td><select id="dates" name="dates">
					</select></td>
				</tr>

				<tr>
					<td>Stat</td>

					<td>257</td>
				</tr>

				<tr>
					<td colspan="2">
						<div class="tab-container" id="tab-container">
							<ul class="etabs">
								<li class="tab">
								<a href="#tabs1-html">Visitor Distribution</a>
								</li>

								<li class="tab">
								<a href="#tabs2-html">Visitor By Days</a>
								</li>
							</ul>

							<div class="panel-container">
								<div id="tabs1-html" style="height:550px">
									<h1>Pie Statics</h1>

									<div id="pie1container" style="float:left;width:450px;height:400px;margin:0 auto;">
									</div>

									<div id="pie2container" style="float:left;width:450px;height:400px;margin:0 auto;">
									</div>
								</div>

								<div id="tabs2-html" style="height:550px;min-width:1600px;overflow:auto">
									<h2>Chart Statics</h2>

									<div id="titles" style="position:relative;height:500px;margin-right:0px;width:50px;float:left;overflow:visible;font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; font-size: 12px;font-size:12px;font-weight:bold;color:#4d759e">
										<div id="title1" style=	"position:absolute;bottom:42px;right:0px">
											Dates :
										</div>

										<div id="title2" style=
											"position:absolute;bottom:15px;right:0px">
											Visits :
										</div>
									</div>

									<div id="container" style=
										"height:500px;margin:0 auto;float:left"></div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
