<!DOCTYPE html>
<html>
	<head>
		<title>My Site</title>
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/sticky.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/javascripts/jquery.hashchange.min.js"></script>
		<script src="/javascripts/jquery.easytabs.js"></script>
		<script src="/javascripts/functions.js"></script>
		<script>
			$(document).ready(function() {
				console.log(<%= profiles %>)
			});
		</script>
	</head>
	<body>
		<!-- Part 1: Wrap all page content here -->
		<div id="wrap">
			<div style="background-color:#fafafa;height:120px;width:100%;border-bottom:1px solid #dddddd">
				<!-- Fixed navbar -->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<div style="float:right"><a class="brand" href="#">Project name</a></div>
							<div class="nav-collapse collapse">
								<ul class="nav" style="float:right">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#about">About Us </a></li>
									<li><a href="#contact">Contact Us</a></li>

								</ul>
							</div><!--/.nav-collapse -->
						</div>
					</div>
				</div>
				<!-- Start of Service Name -->
				<div style="width:100%;text-align:center;border-bottom:1px solid #dddddd">
					dasdasd
				</div>
				<!-- End Of Service Name -->
			</div>
			<!-- Begin page content -->
			<div class="container">
				<!-- Start of Main Menus -->
				<div id="nav-menu" style="height:30px;margin-right:0px; margin-top: -34px;">
					<ul>
						<li><a href="#">Profiles</a></li>
						<li><a href="#">Statistics</a></li>
					</ul>
				</div>
				<!-- Content Start -->


				<!-- On ce kii Bas -->
				<div class="row" style="margin-top:50px">
					<div class="span2"></div>
					<div class="span8">
						<table class="table table-bordered zebra-striped">
							<thead>
								<tr>
									<th>No</th>
									<th>Customer</th>
									<th>No Of Friends</th>
									<th>Gender</th>
									<th>Age</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<% var k = profiles.page_items_count * (profiles.current_page-1)+1 %>
								<% for(var i=0; i<profiles.profiles.length; i++) { %>
								<tr>
									<td style="text-align:center"><%= k %></td>
									<td><img src="/img/186766_100000642874055_3760391_q.jpg"><%= profiles.profiles[i].name %></td>
									<td style="text-align:center"><%= profiles.profiles[i].total_friend %></td>
									<td style="text-align:center"><img style="width:25px;height:50px" src="/img/<%= profiles.profiles[i].gender %>.jpg"></td>
									<td style="text-align:center"><%= profiles.profiles[i].age %></td>
									<td><%= profiles.profiles[i].date %></td>
								</tr>
								<% k++ } %>
							</tbody>
						</table>
					</div>
					<div class="span2"></div>
				</div>
				<div class="row">
					<div class="span12">

						<div class="pagination pagination-centered">
							<ul>

								<% if(profiles.current_page == 1) { %>
								<li class="disabled"><a href="#">&laquo;&laquo;</a></li>
								<% } else { %>
								<li><a title="First Page" href="1">&laquo;&laquo;</a></li>
								<% } %>

								<% if(profiles.current_page == 1) { %>
								<li class="disabled"><a href="#">&laquo;</a></li>
								<% } else { %>
								<li><a title="Previous Page" href="<%= profiles.current_page-1 %>">&laquo;</a></li>
								<% } %>




								<% if( profiles.current_page-2 >= 1) { %>
								<li><a href="<%= profiles.current_page-2 %>"><%= profiles.current_page-2 %></a></li>
								<% } %>
								<% if( profiles.current_page-1 >= 1) { %>
								<li><a href="<%= profiles.current_page-1 %>"><%= profiles.current_page-1 %></a></li>
								<% } %>
								<li class="active"><a href="#"><%= profiles.current_page %></a></li>
								<% if( profiles.current_page+1 <= profiles.total_page) { %>
								<li><a href="<%= profiles.current_page+1 %>"><%= profiles.current_page+1 %></a></li>
								<% } %>
								<% if( profiles.current_page+2 <= profiles.total_page) { %>
								<li><a href="<%= profiles.current_page+2 %>"><%= profiles.current_page+2 %></a></li>
								<% } %>

								<% if(profiles.current_page == profiles.total_page) { %>
								<li class="disabled"><a href="#">&raquo;</a></li>
								<% } else { %>
								<li><a title="Next Page" href="<%= profiles.current_page+1 %>">&raquo;</a></li>
								<% } %>

								<% if(profiles.current_page == profiles.total_page) { %>
								<li class="disabled"><a href="#">&raquo;&raquo;</a></li>
								<% } else { %>
								<li><a title="Last Page" href="<%= profiles.total_page %>">&raquo;&raquo;</a></li>
								<% } %>



							</ul>
						</div>

					</div>
				</div>
				<!-- Onceki son -->



				<!-- Content End -->
			</div>
			<!-- End Of Main Menus -->
			<div id="push"></div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan 
					Fait</a>.</p>
			</div>
		</div>
	</body>
</html>

