<!DOCTYPE html>
<html>
	<head>
		<title>My Site</title>
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/javascripts/jquery.hashchange.min.js"></script>
		<script src="/javascripts/jquery.easytabs.js"></script>
		<script src="/javascripts/functions.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row" style="margin-top:300px">
				<div style="text-align:center" class="span12">
				<span class="label label-warning"><%= message %></span>
			</div>
		</div>
		</div>
	</body>
</html>













